<div class="bigBanner">
    Ausencias
</div>
<div class="ausenceArea">
    <div class="chosen" [attr.num]="chosenNum">
        <h2>{{chosen.name}}</h2>
        <div *ngIf="chosen.value" class="triggers">
            <ul class="days">
                <li *ngFor="let day of chosen.value; index as i"
                    [attr.state]="day.value"
                    (click)="clickedDay(i)">
                    {{day.id}}
                    <span class="material-symbols-outlined">
                        {{getDayIcon(day.value)}}
                    </span>
                </li>
            </ul>
            <ol *ngIf="false">
                <li *ngFor="let day of chosen.value"
                    [attr.num]="day.id">
                    <input type="text"
                        [(ngModel)]="day.name"
                        placeholder="AÑADIR COMENTARIO...">
                </li>
            </ol>
        </div>
    </div>
    <ul class="monthList">
        <li *ngFor="let month of months; index as i"
            (click)="chosenNum = i"
            [attr.hide]="i==chosenNum"
            >{{month.name}}</li>
    </ul>
</div>