<div *ngIf="logged==null; else welcomeBox" class="loginBox">
    <div class="bg"></div>
    <div class="loginBox">
        <h2>Login</h2>
        <button (click)="logIn()">
            Iniciar con Google
        </button>
        
        <button (click)="test()">
            test
        </button>
        <ngb-alert *ngFor="let a of errorNotify.alerts"
            [type]="a.type"
            (closed)="a.close">
            {{ a.msg }}
        </ngb-alert>
    </div>
</div>

<ng-template #welcomeBox>
    
</ng-template>