<div class="carousel">
	<ng-template ngbSlide *ngFor="let slide of carousel">
		<div class="picsum-img-wrapper">
			<img [src]="slide.image" [alt]="slide.title" />
		</div>
		<div class="carousel-caption">
			<h3 *ngIf="slide.title">Second slide label</h3>
			<p *ngIf="slide.subTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
</div>
<div class="thisSunday">
    <h1>Este domingo</h1>
    <div class="songList">
        <dl>
            <ng-container *ngFor="let song of songs">
                <dt>{{song.name}}</dt>
                <dd>
                    <a *ngIf="song.track"
                        [href]="song.track"
                        >Track</a>
                    <a *ngIf="song.yt"
                        [href]="song.yt"
                        >YT</a>
                    <a *ngIf="song.lyrics"
                        [href]="song.lyrics"
                        >Letra</a>
                </dd>
            </ng-container>
        </dl>
        <div class="instruments"></div>
    </div>
    <div class="generatedPic"></div>
</div>
