<div id="topBar" [attr.section]="urlSection" (click)="notCloseToBar($event)">
  <i mat-btn="menu" (click)="toggleTopBar=!toggleTopBar"></i>
  <hr class="iconLogo">
  <ul [(ngbCollapse)]="toggleTopBar">
    <li>Inicio</li>
    <li>Ausencias</li>
    <li>Planning mensual</li>
    <li>Listado de canciones</li>
    <hr>
    <div class="btnRack">
      <i mat-btn="download"></i>
      <i mat-btn="person"></i>
      <i mat-btn="settings"></i>
    </div>
  </ul>
</div>
<div id="topBarDark" *ngIf="displayTopShadow"
  [attr.section]="urlSection"
  [attr.dark]="topShadowDark"
  (click)="toggleTopBar=true">

</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
